<html>
  <head>
    <title>Enter Your Thoughts</title>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/input.js"></script>

    <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/buttons-min.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="holder">
      <input class="main-input" type="text" placeholder="What do you think?">
      <button class="send pure-button">Update Cloud</button>
    </div>
  </body>
</html>
