<html>
<head>
  <title>Hello</title>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <button type="button" class="btn-vote btn btn-primary btn-lg btn-block">Anger</button>
      </div>
      <div class="col-xs-12 col-md-2">
        <button type="button" class="btn-vote btn btn-success btn-lg btn-block">Sadness</button>
      </div>
      <div class="col-xs-12 col-md-2">
        <button type="button" class="btn-vote btn btn-info btn-lg btn-block">Happiness</button>
      </div>
      <div class="col-xs-12 col-md-2">
        <button type="button" class="btn-vote btn btn-warning btn-lg btn-block">Pensive</button>
      </div>
      <div class="col-xs-12 col-md-2">
        <button type="button" class="btn-vote btn btn-danger btn-lg btn-block">Something</button>
      </div>
      <div class="col-xs-12 col-md-2">
        <button type="button" class="btn-vote btn btn-default btn-lg btn-block">Something</button>
      </div>
    </div>
  </div>
</body>
</html>
